listen_addr: ":8080"
db_path: "lowtide.db"
downloads_dir: "downloads"
apps:
  - id: "yt-dlp"
    name: "yt-dlp"
    command: "yt-dlp"
    args: ["-P", ".", "%u"]
    regex: '^https?://(www\.)?(youtube|vimeo|soundcloud|bandcamp|mixcloud)\.com/'
  - id: "tidal-dl-ng"
    name: "tidal-dl-ng"
    command: "tidal-dl-ng"
    strip_trailing_slash: true
    args: ["dl", "%u"]
    regex: '^https?://(www\.|listen\.)?tidal\.com/'
